* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    margin: 0px;
    padding: 0px;
}
.topbar {
    background-color: #2C3E50;
    height: 58px;
}
.container {
    max-width: 1270px;
    margin: auto;
}
.grid-content {
    display: grid;
}
.topbar-column {
    grid-template-columns: 1fr 1fr;
    height: 55px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    Width: 110px;
}
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}
.btn {
    display: inline-block;
    background-color: #cccccc;
    text-decoration: none;
    color: black;
    padding: 10px 20px 10px 20px;
}
.btn.btn-sm {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}
.btn.btn-lg {
    font-size: 20px;
    padding: 25px 40px 25px 40px;
}
.btn.btn-orange {
    background-color: #FF7518;
    color: white;
}
.btn.btn-orange:hover {
    background-color: #ee6509;
}
.icon-sm {
    font-size: 10px;
}
.topmenu {
    text-align: right;
}
.topmenu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    position: relative;
}
.topmenu ul li {
    display: inline-block;
}
.topmenu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 17px 15px 17px 15px;
    font-size: 18px;
}
.topmenu ul li a:hover {
    background-color: black;
}
.topmenu ul li a.show-on-tab {
    display: none;
}
.topmenu ul li a.hide-on-tab {
    display: block;
}
.topmenu ul ul {
    display: none;
    position: absolute;
}
.topmenu li:hover a {
    background-color: black;
}
.topmenu li:hover ul {
    display: block;
    width: 200px;
    border: 1px solid #bbbbbb;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.topmenu li:hover ul li {
    display: block;
}
.topmenu li:hover ul li a {
    background-color: #ffffff;
    text-align: left;
    color: black;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
}
.topmenu li:hover ul li a:hover {
    background-color: #2780E3;
    color: white;
}
.hero {
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(to bottom, #E2EBF0, #CFD9DF);
}
.hero h1 {
    margin: 0px;
    padding: 0px;
    font-size: 70px;
    color: #333333;
}
.main {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #393633;
}
.font-weight-light {
    font-weight: 200;
}
.lead {
    font-size: 20px;
}
.footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px; 
    color: #bbbbbb;
}
.footer a {
    text-decoration: none;
    color: #2780E3;
}
.footer a:hover {
    text-decoration: underline;
}
@media (max-width: 1199px) {
    .container {
        max-width: 940px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}
/* on Tablet */
@media (max-width: 767px) {
    .container {
        width: 96%;
    }
    .topmenu ul li a.show-on-tab {
        display: block;
    }
    .topmenu ul li a.hide-on-tab {
        display: none;
    }
    .topmenu li:hover ul {
        margin-left: -150px;
    }
    .hero h1 {
        font-size: 40px;
    }
}